@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard {
    background-color: v.$grisClaro;

    @include m.tablet {
        display: flex;
        height: 100vh; // Viewport height
    }

    .principal {
        flex: 1; // Para que tome todo el resto del contenido en flexbox
    }

    .contenido {
        padding: 2rem;

        .nombre-pagina {
            font-size: 2.8rem;
            text-align: center;
        }
    }
}